*.db
*.log
package-lock.json
node_modules/
nwjs/
.DS_Store

source/temp/
source/node_modules/
source/config

docs/editor/config

build/desktop/
config

config\.json

temp/

.idea/

dist/
