node_modules/
nwjs/
source/temp/
source/node_modules/

source/config
package-lock.json
*.db
*.log
source/chromedriver.exe
source/d3dcompiler_47.dll
source/ffmpeg.dll
source/icudtl.dat
source/libEGL.dll
source/libGLESv2.dll
source/locales/am.pak
source/locales/ar.pak
source/locales/bg.pak
source/locales/bn.pak
source/locales/ca.pak
source/locales/cs.pak
source/locales/da.pak
source/locales/de.pak
source/locales/el.pak
source/locales/en-GB.pak
source/locales/en-US.pak
source/locales/es-419.pak
source/locales/es.pak
source/locales/et.pak
source/locales/fa.pak
source/locales/fi.pak
source/locales/fil.pak
source/locales/fr.pak
source/locales/gu.pak
source/locales/he.pak
source/locales/hi.pak
source/locales/hr.pak
source/locales/hu.pak
source/locales/id.pak
source/locales/it.pak
source/locales/ja.pak
source/locales/kn.pak
source/locales/ko.pak
source/locales/lt.pak
source/locales/lv.pak
source/locales/ml.pak
source/locales/mr.pak
source/locales/ms.pak
source/locales/nb.pak
source/locales/nl.pak
source/locales/pl.pak
source/locales/pt-BR.pak
source/locales/pt-PT.pak
source/locales/ro.pak
source/locales/ru.pak
source/locales/sk.pak
source/locales/sl.pak
source/locales/sr.pak
source/locales/sv.pak
source/locales/sw.pak
source/locales/ta.pak
source/locales/te.pak
source/locales/th.pak
source/locales/tr.pak
source/locales/uk.pak
source/locales/vi.pak
source/locales/zh-CN.pak
source/locales/zh-TW.pak
source/nacl_irt_x86_64.nexe
source/natives_blob.bin
source/node.dll
source/nunu.exe
source/nw.dll
source/nw_100_percent.pak
source/nw_200_percent.pak
source/nw_elf.dll
source/nwjc.exe
source/payload.exe
source/resources.pak
source/snapshot_blob.bin
