<!--Principal container container-->
<header id="header">
	<!--Demo canvas-->
	<canvas id="canvas" style="position:absolute; left:0%; top:0%; border:none"></canvas>

	<!--Title and buttons-->
	<div class="text-center" style="overflow:hidden; position:absolute; width:100%; bottom:25%">
		<!--Description-->
		<p class="lead noselect">
			Create interactive experiences for your webpage!
			<br/>
			Design, edit, code, all in one place!
		</p>

		<!--Buttons-->
		<div class="row">
			<!--Github button-->
			<div class="col-xs-6 text-right">
				<a href="build/editor/index.html" class="btn btn-secondary btn-lg">Web Version</a>
			</div>
			<!--Download-->
			<div class="col-xs-6 text-left">
				<a routerLink="download" class="btn btn-primary btn-lg">Download</a>
			</div>
		</div>
	</div>

	<!--Loading bar-->
	<div style="position:absolute; width:50%; height:3%; left:25%; top:50%; border-style:solid; border-color:#FFFFFF; border-width:2px">
		<div id="bar" style="position:absolute; width:0%; height:100%; left:0%; top:0%; background-color:#FFFFFF"></div>
	</div>
</header>

<!--Built on-->
<section id="nunu" class="pad-sm">
	<div class="container">
		<div class="text-center">
			<h2>Built on OpenSource</h2>
			<a href="https://threejs.org/"><img src="assets/logo/threejs.png" height="50"/></a>
			<a href="https://codemirror.net/"><img src="assets/logo/codemirror.png" height="50"/></a>
			<a href="https://nwjs.io/"><img src="assets/logo/nwjs.png" height="50"/></a>
			<img src="assets/logo/js.jpg" height="50"/>
			<img src="assets/logo/webgl.png" height="50"/>
		</div>
	</div>
</section>

<!--Features-->
<section>
	<div class="container">
		<h2 class="black">Features</h2>
		<div *ngFor="let feature of this.features" class="col-sm-3">
			<h3>{{feature.title}}</h3>
			<p>{{feature.description}}</p>
			<img class="feature-img" src="{{feature.image}}"/>
		</div>
	</div>
	<br/>
</section>

<!--Examples-->
<section id="examples">
	<div class="container">
		<h2 class="white">Made with <img height="38" src="assets/logo.png"/></h2>
		<div *ngFor="let example of this.examples" class="col-sm-3">
			<h3 class="white">{{example.title}}</h3>
			<p class="white">{{example.description}}</p>
			<a href="page/examples/demo.html?nsp=files/{{example.file}}">
				<img class="madewith-preview" src="page/examples/files/{{example.image}}"/>
			</a>
			<div style="text-align: center;"><a href="build/editor/index.html?nsp=../../page/examples/files/{{example.file}}" class="btn btn-primary">Open in Editor</a></div>
		</div>
	</div>
</section>
