<!--Principal container container-->
<header id="header">
	<!--Demo canvas-->
	<canvas id="canvas" style="position:absolute; left:0%; top:0%; border:none"></canvas>

	<!--Title and buttons-->
	<div class="text-center" style="overflow:hidden; position:absolute; width:100%; bottom:25%">
		<!--Description-->
		<p class="lead noselect">
			Create interactive experiences for your webpage!
			<br/>
			Design, edit, code, all in one place!
		</p>

		<!--Buttons-->
		<div class="row">
			<!--Github button-->
			<div class="col-xs-6 text-right">
				<a href="build/editor/index.html" class="btn btn-secondary btn-lg">Web Version</a>
			</div>
			<!--Download-->
			<div class="col-xs-6 text-left">
				<a href="page/download.html" class="btn btn-primary btn-lg">Download</a>
			</div>
		</div>
	</div>

	<!--Loading bar-->
	<div style="position:absolute; width:50%; height:3%; left:25%; top:50%; border-style:solid; border-color:#FFFFFF; border-width:2px">
		<div id="bar" style="position:absolute; width:0%; height:100%; left:0%; top:0%; background-color:#FFFFFF"></div>
	</div>
</header>

<!--Built on division-->
<section id="nunu" class="pad-sm">
	<div class="container">
		<div class="text-center">
			<h2>Built on OpenSource</h2>
			<a href="https://threejs.org/"><img src="assets/logo/threejs.png" height="50"/></a>
			<a href="https://codemirror.net/"><img src="assets/logo/codemirror.png" height="50"/></a>
			<a href="https://nwjs.io/"><img src="assets/logo/nwjs.png" height="50"/></a>
			<img src="assets/logo/js.jpg" height="50"/>
			<img src="assets/logo/webgl.png" height="50"/>
		</div>
	</div>
</section>

<!--Features-->
<section>
	<div class="container">
		<h2 class="black">Features</h2>
		<!--Graphical Editor-->
		<div class="col-sm-3">
			<h3>Graphical Editor</h3>
			<p>Familiar user interface similar to the ones you already know.</p>
			<img class="feature-img" src="assets/screenshot/6.jpg"/>
		</div>
		<!--Graphics-->
		<div class="col-sm-3">
			<h3>3D Graphics</h3>
			<p>Graphics powered by three.js with dynamic ligths, shadows, post-processing, etc.</p>
			<img class="feature-img" src="assets/screenshot/8.jpg"/>
		</div>
		<!--Physics-->
		<div class="col-sm-3">
			<h3>Physics</h3>
			<p>Fully features 3D physics engine powered by cannon.js</p>
			<img class="feature-img" src="assets/screenshot/gif/1.gif"/>
		</div>
		<!--JS Scripts-->
		<div class="col-sm-3">
			<h3>JS Scripts</h3>
			<p>Easy to learn language, familiar for web and game developers.</p>
			<img class="feature-img" src="assets/screenshot/5.jpg"/>
		</div>

		<!--2D Mode-->
		<div class="col-sm-3">
			<h3>2D Mode</h3>
			<p>Want 2D? No problem! Switch between 2D and 3D with the click of a button.</p>
			<img class="feature-img" src="assets/screenshot/7.jpg"/>
		</div>
		<!--WebVR-->
		<div class="col-sm-3">
			<h3>WebVR</h3>
			<p>Ready for web virtual reality, on mobile and desktop platforms.</p>
			<img class="feature-img" src="assets/vr.jpg"/>
		</div>
		<!--Materials-->
		<div class="col-sm-3">
			<h3>Advanced materials</h3>
			<p>Graphical material editor similar to the ones found in 3D design tools.</p>
			<img class="feature-img" src="assets/screenshot/1.jpg"/>
		</div>
		<!--Particle-->
		<div class="col-sm-3">
			<h3>Particles</h3>
			<p>GPU accelerated particle system powered by SPE.</p>
			<img class="feature-img" src="assets/screenshot/2.jpg"/>
		</div>

		<!--Dragndrop-->
		<div class="col-sm-3">
			<h3>Drag and drop</h3>
			<p>Drag and drop files into the editor, it just works.</p>
			<img class="feature-img" src="assets/screenshot/gif/2.gif"/>
		</div>
		<!--Spine animations-->
		<div class="col-sm-3">
			<h3>Spine animations</h3>
			<p>Create 2D animations using Esoteric spine animation tool and import them to nunuStudio.</p>
			<img class="feature-img" src="assets/screenshot/9.jpg"/>
		</div>
		<!--WebAudio-->
		<div class="col-sm-3">
			<h3>WebAudio</h3>
			<p>Audio engine built on top of web audio API with support for positional audio.</p>
			<img class="feature-img" src="assets/screenshot/10.jpg"/>
		</div>
		<!--Multiplatform-->
		<div class="col-sm-3">
			<h3>Multi-platform editor</h3>
			<p>nunuStudio was build on top of nwjs it works on windows, linux and OS X.<p>
			<img class="feature-img" src="assets/screenshot/3.jpg"/>
		</div>
	</div>
	<br/>
</section>

<!--Examples-->
<section id="examples">
	<div class="container">
		<h2 class="white">Made with <img height="38" src="assets/logo.png"/></h2>
		<div *ngFor="let example of this.examples" class="col-sm-3">
			<h3 class="white">{{example.title}}</h3>
			<p class="white">{{example.description}}</p>
			<a href="page/examples/demo.html?nsp=files/{{example.file}}">
				<img class="madewith-preview" src="page/examples/files/{{example.image}}"/>
			</a>
			<div style="text-align: center;"><a href="build/editor/index.html?nsp=../../page/examples/files/{{example.file}}" class="btn btn-primary">Open in Editor</a></div>
		</div>
	</div>
</section>
