<p *ngIf="this.hideLink !== true">To try this example in the editor you can download the <a class="underline" href="{{fname}}">project file</a> or open it on the <a class="underline" href="https://www.nunustudio.org/{{fname}}">Web Editor</a>.</p>

<div [ngStyle]="this.style" style="margin-left:auto; margin-right:auto; display: block;">
	<canvas #canvas style="width: 100%; height: 100%;"></canvas>
</div>

<div style="margin-left:auto; margin-right:auto; display: block; text-align: center;">
	<a (click)="this.app.toggleFullscreen()" class="btn btn-dark">Fullscreen</a>
	<a *ngIf="this.app.vrAvailable()" (click)="this.app.toggleVR()" class="btn btn-dark">Enter VR</a>
	<a *ngIf="this.app.arAvailable()" (click)="this.app.toggleAR()" class="btn btn-dark">Enter VR</a>
</div>

