/*Text*/
body
{
	overflow: hidden;
	color : #ffffff;
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

	/*Avoid text selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Containers*/
.bar
{
	background-color: #222222;
}

.panel
{
	background-color: #333333;
	cursor: default;
}

.panel_tab
{
	background-color: #222222;
	cursor: col-resize;
}


/*Buttons*/
.button
{
	background-color: #333333;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_over
{
	background-color: #444444;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Text*/
.text
{
	display: flex;
	justify-content: center;
	align-items: center;
}
