/*Text*/
body
{
	overflow: hidden;
	color : #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	cursor: default;
		
	/*Avoid text selection*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Containers*/
.bar
{
	background-color: #222222;
	cursor: default;
}

.panel
{
	background-color: #333333;
	cursor: default;
	overflow: auto;
}

.panel_res_hor_tab
{
	background-color: #222222;
	cursor: col-resize;
}

.panel_res_ver_tab
{
	background-color: #222222;
	cursor: row-resize;
}

/*Buttons*/
.button
{
	background-color: #222222;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_over
{
	background-color: #555555;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Text*/
.text
{
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text_box
{
	background-color: #444444;
	border-style: none;
	color : #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
}