/*Text*/
body
{
	overflow: hidden;
	color : #000000;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;

	/*Avoid text selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Containers*/
.bar
{
	background-color: #eeeeee;
}

.panel
{
	background-color: #bbbbbb;
	cursor: default;
}

.panel_res_hor_tab
{
	background-color: #ffffff;
	cursor: col-resize;
}

.panel_res_ver_tab
{
	background-color: #eeeeee;
	cursor: row-resize;
}

/*Buttons*/
.button
{
	background-color: #eeeeee;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_over
{
	background-color: #888888;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Text*/
.text
{
	display: flex;
	justify-content: center;
	align-items: center;
}
