/*Text*/
body
{
    color : #ffffff;
    font-family: "Arial Black", Gadget, sans-serif;
}

/*Containers*/
.bar
{
    background-color: #222222;
}

.panel
{
    background-color: #333333;
}

.panel_tab
{
    background-color: #222222;
}


/*Buttons*/
.button
{
    background-color: #333333;
}

.button_over
{
    background-color: #444444;
}
