/*Text*/
body
{
	color : #ffffff;
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/*Containers*/
.bar
{
	background-color: #222222;
}

.panel
{
	background-color: #333333;
	cursor: default;
}

.panel_tab
{
	background-color: #222222;
	cursor: col-resize;
}


/*Buttons*/
.button
{
	background-color: #333333;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_over
{
	background-color: #444444;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
