body
{
	overflow: hidden;
	color : #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	
	border-style: none;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-scrollbar
}

::-webkit-scrollbar
{
	height: 8px;
	width: 8px;
	background: #333333;
}

::-webkit-scrollbar-thumb
{
	background: #555555;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner
{
	background: #333333;
}

.bar
{
	background-color: #222222;
	cursor: default;
}

.container
{
	background-color: #333333;
	cursor: default;
	overflow: hidden;
}

.panel
{
	background-color: #333333;
	cursor: default;
	overflow: auto;
}

.panel_res_hor_tab
{
	background-color: #222222;
	cursor: e-resize;
}

.panel_res_ver_tab
{
	background-color: #222222;
	cursor: n-resize;
}

.button
{
	background-color: #222222;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_light
{
	background-color: #333333;
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_over
{
	background-color: #555555;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_left_light
{
	background-color: #333333;
	cursor: default;
	display: flex;
	align-items: center;
}

.button_left_over
{
	background-color: #555555;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.text
{
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events:none;
}

.text_left
{
	display: flex;
	align-items: center;
	pointer-events:none;
}

.text_box
{
	background-color: #444444;
	border-style: none;
	color : #ffffff;
}
