<section class="pad-sm">
	<div class="container">
		<a href="../../../learn.html"><h3 class="black"><u>Back</u></h3></a>
		<h2 class="black">Shaders</h2>
		<p>In this tutorial we will explore how we can write our own shaders code using GLSL inside of nunuStudio. Shader materials can be added to the project, there are two types of shader materials the <a href="https://threejs.org/docs/#api/en/materials/ShaderMaterial">ShaderMaterial</a> and <a href="https://threejs.org/docs/#api/en/materials/RawShaderMaterial">RawShaderMaterial</a>.</p>
		<p>ShaderMaterial should suit most use cases it is directly based on the three.js shader material and already gives access to the default attributes available in the renderer. RawShaderMaterial gives you more control over but requires a better undestending of the engine underlines.</p>



		<p>Under work!</p>

	</div>
</section>
