/*Global styles*/
body
{
	background-color:#FFFFFF;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

h1, h2, h3, h4, h5, h6, .btn, .navbar-nav a, .list-inline, small, #examples
{
	font-family:'Montserrat', sans-serif;
}

p, .lead
{
	font-family:'Raleway', sans-serif;
}

h1
{
	font-size:55px;
	line-height:55px;
	letter-spacing:-1px;
	color:#ffffff;
}

h2
{
	font-size:40px;
	line-height:40px;
	letter-spacing:-0.5px;
	color:#ffffff;
}

h3
{
	font-size:16px;
	line-height:30px;
	letter-spacing:0px;
	color:#222222;
}

.lead
{
	font-size:21px;
	line-height:26px;
	color:#ffffff;
	font-weight:400;
}

p
{
	font-size:17px;
	line-height:22px;
	color:#999999;
}

/*Utilities*/
a
{
	color:inherit;
	font-size:inherit;
}

a:hover, a:focus
{
	color:#222222;
	transition:all 0.35s ease-in-out;
}

.fa-lg
{
	font-size:1.33333em;
	line-height:0.75em;
	vertical-align:-10%;
}

::selection
{
	background:#222222; /* Safari */
	color:#FFFFFF;
}

::-moz-selection
{
	background:#222222; /* Firefox */
	color:#FFFFFF;
}


/*Buttons*/
.btn:focus
{
	outline:0px auto -webkit-focus-ring-color;
	outline:none;
}

.btn
{
	text-transform:uppercase;
	border-radius:4px;
	border:none;
}

.btn-lg
{
	font-size:13px;
	line-height:1.33;
	padding:22px 30px;
	font-weight:400;
	letter-spacing:1px;
}

.btn-sm
{
	font-size:11px;
	line-height:1.33;
	padding:10px 18px;
	font-weight:400;
}

.btn-wide
{
	width:100%;
	font-size:13px;
	line-height:1.33;
	padding:18px 28px;
	font-weight:400;
	letter-spacing:1px;
}

.btn-primary
{
	background-color:#333333;
	color:#ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active
{
	background-color:#555555;
	color:#ffffff;
	-webkit-transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	transition:all 0.35s ease-in-out;
}

.btn-secondary
{
	background-color:#ffffff;
	color:#222222;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active
{
	background-color:#ededed;
	color:#222222;
	-webkit-transition:all 0.35s ease-in-out;
	-moz-transition:all 0.35s ease-in-out;
	-o-transition:all 0.35s ease-in-out;
	transition:all 0.35s ease-in-out;
}

/*Margins*/
.margin-0
{
	margin-bottom:0 !important;
}
.margin-10
{
	margin-bottom:10px !important;
}
.margin-15
{
	margin-bottom:15px !important;
}
.margin-20
{
	margin-bottom:20px !important;
}
.margin-30
{
	margin-bottom:30px !important;
}
.margin-40
{
	margin-bottom:40px !important;
}
.margin-50
{
	margin-bottom:50px !important;
}
.margin-60
{
	margin-bottom:60px !important;
}
.margin-70
{
	margin-bottom:70px !important;
}
.margin-80
{
	margin-bottom:80px !important;
}
.margin-90
{
	margin-bottom:90px !important;
}
.margin-100
{
	margin-bottom:100px !important;
}

/*Colors*/
.black
{
	color:#222222;
}

.blue
{
	color:#333333;
}

.green
{
	color:#23aa84;
}

.white
{
	color:#ffffff;
}

.black-bg
{
	background:#222222;
}

.blue-bg
{
	background:#333333;
}

.white-bg
{
	background:#ffffff;
}

.purple-bg
{
	background:#6d3f96;
}

/*Navigation bar*/
.navbar-visible
{
	border:0px solid rgba(0, 0, 0, 0);
	background-color:#333333;
	margin:auto;
	min-height:60px;
	padding-top:8px;
	position:fixed;
	top:-60px;
}

.navbar
{
	border:0px solid rgba(0, 0, 0, 0);
	background-color:#333333;
	margin:auto;
	min-height:60px;
	padding-top:8px;
	position:fixed;
	top:-60px;
	transition:top 0.4s ease 0s;
}

.navbar.open
{
	top:0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a
{
	color:#ffffff;
	font-size:14px;
	letter-spacing:1px;
}

.navbar-inverse .navbar-nav > li > a:hover
{
	color:#ffffff;
	opacity:0.6;
}

.nav > li > a
{
	position:relative;
	display:block;
	padding:10px 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	border-color:#CFCFCF;
}

.navbar-inverse .navbar-toggle
{
	border-color:transparent;
}

.logo img
{
	margin-top:6px;
}

/*Main styles*/
header
{
	width:100%;
	padding:20px 10px 60px 10px;
	height:100vh;
	overflow:hidden;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}

.header-info
{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	right:0;
	margin-left:0px;
	margin-bottom:12%;
}

.signin
{
	padding-top:9px;
}

@keyframes scrolling
{
	0%
	{
		opacity:0;
		top:5px;
	}
	30%
	{
		opacity:1;
		top:10px;
	}
	100%
	{
		opacity:0;
		top:25px;
	}
}

/*nunu*/
#nunu
{
	background:url(../img/editor.png) #222222 no-repeat center center fixed;
	min-height:300px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.pad-xl
{
	padding:200px 0px;
}

.pad-lg
{
	padding:160px 0px;
}

.pad-sm
{
	padding:80px 0px;
}

.pad-xs
{
	padding:30px 0px;
}


hr.line
{
	width:100%;
	border:2px solid;
}

.purple
{
	border-color:#6d3f96;
	color:#6d3f96;
}

.blue
{
	border-color:#333333;
	color:#333333
}

.yellow
{
	border-color:#fdc05d;
	color:#fdc05d;
}

.fa-envelope-o
{
	color:#CFCFCF;
	font-size:22px;
	display:block;
	padding-top:15px;
	width:60px;
	height:60px;
	border:2px solid #CFCFCF;
	-moz-border-radius:30px;
	-o-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	margin:auto;
}

footer
{
	background:#ffffff;
	padding:40px 0px;
}

.social li a:hover
{
	opacity:0.5;
}

/*Pricing Tables*/
#examples
{
	background:#333333;
}

.headline
{
	background:#222222;
	color:#FFFFFF;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.info
{
	padding-top:20px;
	padding-bottom:20px;
	font-weight:300;
	font-size:13px;
	color:#999999;
	background:#ffffff;
}

.features
{
	color:#222222;
	font-weight:bold;
	padding-top:12px;
	padding-bottom:15px;
	border-bottom:1px dotted #EEEEEE;
	background:#ffffff
}

.features.first
{
	border-top:1px dotted #EEEEEE;
}

.features.last
{
	padding-top:17px;
	padding-bottom:20px;
}

.features.last a
{
	color:#333333;
	font-size:14px;
	letter-spacing:1px;
}

.examples-container .btn
{
	border-radius:0;
}

/*Mobile styles*/
/*Landscape phones and down*/
@media (max-width:480px)
{ 
	.btn-lg
	{
		font-size:12.5px;
		line-height:1.33;
		padding:16px 13px;
		letter-spacing:0px;
	}


	.btn-wide
	{
		width:100%;
		font-size:12.5px;
		line-height:1.33;
		padding:16px 13px;
		letter-spacing:0px;
	}

	#nunu
	{ 
		background-attachment:scroll;
	}
}


/* Landscape phone to portrait tablet */
@media (min-width:481px) and (max-width:767px)
{ 
	#nunu
	{ 
		background-attachment:scroll;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width:768px) and (max-width:991px)
{
	#nunu
	{
		background-attachment:scroll;
	}
}
