<div class="apidocs">
	<div id="docs-main" class="content">
		<h2>API Documentation</h2>
		<ul>
			<li><p>nunuStudio is a open source three.js based 3D graphics framework. With nunuStudio its possible to create complex 3D scenes easily.</p></li>

			<li><p>nunuStudio is built on top of three.js, scripts inside nunuStudio can access all three.js elements and the documentation available on the <a href="https://threejs.org/">three.js webpage</a> should be used as a reference.</p></li>

			<li><p>The sourcecode is available on <a href=https://www.github.com/tentone/nunuStudio>Github</a>. Everybody is welcome to help and contribute to the project.</p></li>

			<li><p>This page provides documentation for the API used to create scripts inside the nunuStudio editor used to control 3D objects, multimedia elements and user interaction.</p></li>
		</ul>

		<h2>Keyboard Shortcuts</h2>
		<ul>
			<li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

			<li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes, modules, and search results.</p></li>

			<li class="mac-only"><p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> or <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to switch sidebar tabs.</p></li>

			<li class="pc-only"><p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p></li>
		</ul>
	</div>
</div>