body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 

	/*Webkit scrollbar*/
	/*-webkit-scrollbar;*/
}

/*Only used by webkit browsers*/
/*::-webkit-scrollbar
{
	height: 8px;
	width: 8px;
	background: #333333;
}
::-webkit-scrollbar-thumb
{
	background: #555555;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner
{
	background: #333333;
}*/
