<!--WebVersion-->
<section class="pad-sm">
	<div class="container">
		<div class="row">
			<h3>Web Version</h3>
			<p>There is a web version of nunuStudio available, it was tested with Google Chrome, Firefox and Microsoft Edge, it is not compatible with mobile browsers.</p>
			<p>The web version of nunuStudio its always updated and has all the features present in the desktop version, but there are some limitations regarding file access in the web environment.</p>
			<p>This version is always updated with every experimental feature, if you find anything wrong please report in the issue page on GitHub.</p>
			<div style="width:100%;">
				<img style="position:relative; left:25%; width:50%" src="assets/web.png"/>
			</div>
			<div style="position:relative; width:50%; left:25%">
				<a style="position:relative; width:100%;" href="https://www.nunustudio.org/build/editor/index.html" class="btn btn-primary">Web Version</a>
			</div>
		</div>

		<br/>

		<!--Desktop-->
		<div class="row">
			<!--Windows-->
			<div class="col-sm-4">
				<h3>Windows</h3>
				<p>Compatible with Windows Vista, 7, 8 and 10.</p>
				<div style="width:100%;">
					<img style="position:relative; left:25%; width:50%" src="assets/os/windows.png"/>
				</div>
				<br/>
				<div style="position:relative; width:50%; left:25%">
					<a style="position:relative; width:100%;" href="https://github.com/tentone/nunuStudio/releases/download/v0.9.6/nunuStudio_0.9.6_win_x64.zip" class="btn btn-primary">Windows</a>
				</div>
			</div>
			<!--Linux-->
			<div class="col-sm-4">
				<h3>Linux</h3>
				<p>Tested with ubuntu based distributions, compatible with x86 based machines.</p>
				<div style="width:100%;">
					<img style="position:relative; left:25%; width:50%" src="assets/os/linux.png"/>
				</div>
				<br/>
				<div style="position:relative; width:50%; left:25%">
					<a style="position:relative; width:100%;" href="https://github.com/tentone/nunuStudio/releases/download/v0.9.6/nunuStudio_0.9.6_linux_x64.7z" class="btn btn-primary">Linux</a>
				</div>
			</div>
			<!--OSX-->
			<div class="col-sm-4">
				<h3>MacOS</h3>
				<p>MacOS is not tested regularly, looking for developers/testers.</p>
				<div style="width:100%;">
					<img style="position:relative; left:25%; width:50%" src="assets/os/osx.png"/>
				</div>
				<br/>
				<div style="position:relative; width:50%; left:25%">
					<a style="position:relative; width:100%;" href="https://github.com/tentone/nunuStudio/releases/download/v0.9.6/nunuStudio_0.9.6_mac_x64.7z" class="btn btn-primary">MacOS</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Beta-->
<section id="examples" class="pad-xs">
	<div class="container">
		<h2 class="white">Still under development</h2>
		<p class="white">nunuStudio is still under development, all suggestions are welcome, use the Github issues page to leave your suggestions.</p>
		<p class="white">The sourcecode is available on Github. Everybody is welcome to help and contribute to the project.</p>
		<p class="white">Bug reports and features request can be done in the Issues section on GitHub.</p>
	</div>
</section>

<!--Old Releases-->
<section class="pad-xs">
	<div class="container">
		<div class="row">
			<h3>Old Releases</h3>
			<p>Old versions of nunuStudio can be found in the releases page in Github alongside with their source code.</p>
			<p>Please avoid using these unless strictly required for some special reason.</p>
			<div style="position:relative; width:50%; left:25%">
				<a style="position:relative; width:100%;" href="https://github.com/tentone/nunuStudio/releases/" class="btn btn-primary">Old releases</a>
			</div>
		</div>
	</div>
</section>
