:root {
	--font-main-family: "Arial";
	--font-main-color: #FFFFFF;
	--font-main-size: 12px;

	--color-light: #FFFFFF;
	--button-over-color: #555555;
	--box-color: #444444;
	--panel-color: #333333;
	--bar-color: #222222;
}
